.header {
  display: flex;
  flex: 1;
  font-size: 10px;
  justify-content: space-between;
  align-items: left;
  padding: 0px 10px 0 50px;
}

.heroContainer {
  display: flex;
  align-items: center;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  word-wrap: break-word;
  letter-spacing: 0.5px;
}

.contentContainer h1 {
  justify-content: space-between;
  padding: 0 10 0 50px;
}

.contentContainer p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 10px;
  align-content: left;
  box-sizing: border-box;
  display: block;
}
.nav_links {
  list-style: none;
  font-size: 10px;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.4s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}
.img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  float: right;
}
.button {
}
.btn_fill {
  color: white;
  background-color: rgb(55, 114, 255);
  padding: 10px 10px;
  border-radius: 50px;
  margin: 0 10px 0 10px;
}

.btn_outline {
  color: rgb(55, 114, 255);
  background-color: white;
  padding: 10px 10px;
  border-radius: 50px;
  border-color: rgb(55, 114, 255);
  margin: 0 10px 0 10px;
}
